
<template>
  <div>
    <button v-if="totalPages > 0" class="w-10 h-10 drop-shadow-4xl bg-[#FFF] inline-flex text-[#9E9E9E] py-[9px] px-0 justify-center items-center rounded-md border-b-2 hover:text-[#FFF] hover:bg-bt-primary hover:border-bt-primary">
      <span class="" @click="goToPage(1)" :disabled="currentPage === 1">&lt;</span>
    </button>
    <li  v-if="showEllipsisStart" class="ellipsis  list-none">...</li>

    <button v-for="page in visiblePages" :key="page" class="inline-flex w-[41px] h-[41px] py-[9px] px-0 justify-center items-center rounded-md hover:border-b-2 hover:text-[#FFF] text-[#9E9E9E] hover:bg-bt-primary hover:border-bt-primary">
      <span @click="goToPage(page)" class="text-right text-base font-semibold leading-5 capitalize" :class="{ active: page === currentPage }">{{ page }}</span>
    </button>
    <span  v-if="showEllipsisEnd" class="ellipsis list-none">...</span>

    <button v-if="totalPages > 0">
      <span @click="goToPage(totalPages)" class="bg-[#FFF] drop-shadow-4xl w-10 h-10 inline-flex text-[#9E9E9E] py-[9px] px-0 justify-center items-center rounded-md border-b-2 hover:text-[#FFF] hover:bg-bt-primary hover:border-bt-primary" :disabled="currentPage === totalPages">&gt;</span>
    </button>
  </div>
</template>

<script setup>
import { defineProps, defineEmits, ref, computed, onMounted, watch } from 'vue';
import { useDataStore } from '@/store/DataStore';

const currentPage = ref(1);
const totalPages = ref(1);
const visiblePages = ref([]);
const maxVisiblePages = 5; // Adjust the number of visible pages as needed
const store = useDataStore();

const props = defineProps(['totalPageNum']);
const emit = defineEmits(['getPageData']);

onMounted(() => {
  totalPages.value=props.totalPageNum
  if (props.totalPageNum) {
    const total = props.totalPageNum.match(/\d+/); // Adjust regex to capture all digits
    totalPages.value = total ? parseInt(total[0]) : 1;
    // totalPages.value=Math.round(totalPages.value/20)
    console.log(totalPages.value)
  }
});
const total=computed(()=>{
  if (props.totalPageNum) {
    const total = props.totalPageNum.match(/\d+/);
    totalPages.value = total ? parseInt(total[0]) : 1;
    totalPages.value=Math.round(totalPages.value/20)
    console.log(totalPages.value)
  }
})

watch(() => props.totalPageNum, () => {
  if (props.totalPageNum) {
    const total = props.totalPageNum.match(/\d+/);
    totalPages.value = total ? parseInt(total[0]) : 1;
    totalPages.value=Math.round(totalPages.value/20)
    console.log(totalPages.value)
  }
});

const updateVisiblePages = () => {
  const start = Math.max(1, currentPage.value - Math.floor(maxVisiblePages / 2));
  const end = Math.min(totalPages.value, start + maxVisiblePages - 1);
  visiblePages.value = Array.from({ length: end - start + 1 }, (_, index) => start + index);
};

const showEllipsisStart = computed(() => visiblePages.value.length > 0 && visiblePages.value[0] > 1);
const showEllipsisEnd = computed(() => visiblePages.value.length > 0 && visiblePages.value[visiblePages.value.length - 1] < totalPages.value);

const goToPage = (page) => {
  if (page >= 1 && page <= totalPages.value && page !== currentPage.value) {
    currentPage.value = page;
    emit('getPageData', page);
  }
};

onMounted(updateVisiblePages);
watch(currentPage, updateVisiblePages);

</script>
