<template>
    <header>
            <div class="flex flex-wrap justify-between items-center ml-100 my-5 w-[1440px] mx-auto">
                <a href="#" class="flex items-center">
                    <img src="../assets/Vector.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">my Dream Place</span>
                </a>
        </div>
    </header>
</template>

<script>

</script>

<style>

</style>