<template>
    <header>
            <div class="flex flex-wrap justify-between items-center ml-100 my-5 w-[1440px] mx-auto">
                <a href="#" class="flex items-center">
                    <img src="../assets/Vector.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">my Dream Place</span>
                </a>
        </div>
    </header>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" @submit.prevent="authenticate">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="email" v-model="loginData.name" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button  type="submit" class="flex w-full justify-center rounded-md bg-bt-primary  px-3 py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
    </p>
  </div>
</div>

</template>

<script setup>

import { v4 as uuidv4 } from 'uuid';
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import Dialog from '../components/Dialog/Dialog.vue';
import Header from '../components/Header.vue';
import {login} from './auth'

const router= useRouter()
const inlogin=ref(false)
 const loginData= ref({
  name:'',
  isLogged:false
 })

 onMounted(()=>{
  inlogin.value=true
 })


 const authenticate=()=>{
  if (login()){
    loginData.value.isLogged=true
    localStorage.setItem('isLogged',loginData.value.isLogged)
    router.push({name:'home',params:{isloggin:loginData.value.isLogged}}); 
  }
  else
  alert("Authentication failed.")
 
}

</script>

<style>

</style>