<template>
 <!-- <div class="pl-5 py-5 w-[1030px] h-60 rounded-[5px] border bg-[#FFF] border-border-bg">
    <div class="flex">
      <img :src="hotel.property.photoUrls" class="w-[285px] h-[200px] rounded-[5px]" />
      <div class="flex flex-col items-start ml-[26px]">
        <div>
          <h2 class="w-[360px] text-[#1A1A1A] text-5 font-medium">{{ hotel.property.name }} </h2>
          <div class="flex gap-3 mt-[8px] items-center">
            <star-rating v-model:rating="rate" :read-only="true" :star-size="20" :round-start-rating="false"></star-rating>
            <p class="text-[#4F4F4F] font-normal text-sm">( {{ hotel.property.reviewCount }} Reviews)</p>
          </div>
          <div class="flex flex-col items-start h-[84px] w-[380px]">
            <p class="text-[#4F4F4F] text-[13px] font-medium">{{ hotel.accessibilityLabel }}</p>
            <p class="text-[#333] text-sm font-light">Includes taxes and fees</p>
          </div>
        </div>
        <div class="mt-1">
          <button @click="showDetails" class="inline-flex py-[10px] mb-[18px] px-[18px] items-center justify-center rounded-md bg-bt-primary">See availability</button>
        </div>
      </div>
      <div class="flex flex-col flex-grow pr-5">
        <div
          v-bind:style="!flag
            ? 'background-color:#EB5757'
            : 'background-color:#F2994A;'"
          class="h-[26px] rounded-md py-1 px-2 justify-center items-center gap-[10px] inline-flex"
        >
          <span class="text-[#FFF] text-[13px] font-medium w-full flex-nowrap">Book now and receive {{ off }}% off</span>
        </div>
        <div v-if="!flag" class="ml-[128px] mt-16 inline-flex py-1 h-[18px] px-2 justify-center items-center rounded-md bg-[#219653] gap-[10px]">
          <p class="text-[#FFF] text-[13px] font-medium w-auto">{{ Math.round(Number(  (hotel.property.priceBreakdown.strikethrough?.value- hotel.property.priceBreakdown.grossPrice?.value )/
		  
		  hotel.property.priceBreakdown.grossPrice?.value )*2 ) }}% off</p>
        </div>
        <div class="flex gap-2 mt-[33px] justify-end">
          <p class="text-right"><s>${{ strikethrough }}</s></p>
          <p>{{ gross }}</p>
        </div>
      </div>
    </div>
  </div>   -->


  <!-- ______________________________ -->



  <div class="flex p-5 rounded-[5px] border w-[1102px] bg-[#FFF] border-border-bg">
  <div>
    <img  :src="hotel.property.photoUrls" alt="tailwind logo" class="w-[285px] h-[200px] rounded-[5px]">
  </div>

  <div class="ml-5">
    <h1 class="text-[#181818] font-medium text-lg">{{ hotel.property.name }}</h1>
    <div class="flex gap-3 mt-[10px] mb-6">
      <star-rating v-model:rating="rate" :read-only="true" :star-size="20" :round-start-rating="false"></star-rating>
      <p class="text-[#4F4F4F] font-normal text-sm">( {{ hotel.property.reviewCount }} Reviews)</p>
    </div>
    <div class="flex flex-col w-[500px] h-[45px] items-start gap-[8px]">
      <p class="text-[#4F4F4F] text-[13px] font-medium overflow-ellipsis">{{ hotel.accessibilityLabel }}</p>
      <div class="flex items-center gap-[10px]">
		<button @click="showDetails" class="inline-flex py-[10px] mb-[18px] px-[18px] items-center justify-center rounded-md bg-bt-primary">See availability</button>

       
      </div>
    </div>
  </div>

  <div class="flex flex-col items-end ml-auto mt-auto">
    <div class="flex flex-col gap-[6px] items-end mb-5">
      <div v-bind:style="!flag ? 'background-color:#EB5757' : 'background-color:#F2994A;'" class="h-[26px] rounded-md py-1 px-2 justify-center items-center gap-[10px] inline-flex">
        <span class="text-[#FFF] text-[13px] font-medium w-full flex-nowrap">Book now and receive {{ taxes }}% off</span>
      </div>
      <div v-if="!flag" class="ml-[128px] mt-16 inline-flex py-1 h-[18px] px-2 justify-center items-center rounded-md bg-[#219653] gap-[10px]">
        <p class="text-[#FFF] text-[13px] font-medium w-auto">{{taxes}}% off</p>
      </div>
      <div class="flex gap-2 mt-[33px] justify-end">
        <p v-if="strikethrough" class="text-right"><s>${{ strikethrough }}</s></p>
        <p>${{ gross }}</p>
		
      </div>
	  <p class="text-[#333] text-sm font-light">Includes taxes and fees</p>
    </div>
  </div>
</div>    
</template>

<script setup>
import { useDataStore } from "@/store/DataStore";
import { onMounted, ref, toRefs } from "vue";
import { useRouter } from "vue-router";
import StarRating from 'vue-star-rating'
import { isAuthenticate,isTokenExpired } from '@/Authentication/auth'


	const store=useDataStore()

	const router=useRouter()
	const flag=ref(false)
	const taxes=ref()
	const off=ref()
	const gross=ref()
	const strikethrough=ref()
	const des=ref()
	
	onMounted(()=>{
		

		rate.value=props.hotel.property.reviewScore/2
		 gross.value=Math.round(props.hotel.property.priceBreakdown.grossPrice.value)
		
		console.log(gross)
		
		if(props.hotel.property.priceBreakdown.strikethroughPrice !== undefined){
			strikethrough.value=Math.round(props.hotel.property.priceBreakdown.strikethroughPrice.value)
			console.log(strikethrough.value,"strikethrough.value")
			const diff=Math.round(strikethrough.value - 
			props.hotel.property.priceBreakdown.grossPrice.value)
			console.log(props.hotel.property.priceBreakdown.strikethrough?.value)
			console.log(props.hotel.property.priceBreakdown.grossPrice.value)
			console.log("diff",diff)
			taxes.value=Math.round((diff/gross.value) * 100)
			console.log("taxes.value",taxes.value)
		}
		else{
			flag.value=true
		}
		console.log("ddd",off.value)
		console.log("strike",props.hotel.property.priceBreakdown.strikethroughPrice)
		console.log("gross",props.hotel.property.priceBreakdown.grossPrice.value)
		
		
	})
	const  props=defineProps(['hotel','searchData'])
	const rate=ref()
	const emit=defineEmits(['Hotel_Details'])
	const showDetails=()=>{
		console.log("Got to details")
		console.log(props.hotel)
		emit('Hotel_Details',props.hotel)
		localStorage.setItem('header',false)
		console.log(props.searchData.arrivalDate,"props.searchData.arrivalDate","props.searchData.depDate",props.searchData.depDate)
			
		if ( !isAuthenticate()) {
				router.push('/login')

 		} else if (isTokenExpired()) {
			next('/login');
  } else {
	
	router.push({name:'HotelDetails',params: { id: props.hotel.hotel_id,
			arrival:props.searchData.arrivalDate,dep:props.searchData.depDate,rate:rate.value }}); 
		
  
 }
		
		
	
	}

	const truncateText = (text, maxLength) => {
  if (text.length > 50) {
    return text.substring(0, maxLength) + '...';
  }
  return text;
};

</script>

<style>

</style>