<template>
      <!-- <div class="flex flex-col gap-6" v-for="hotel in Hotels" :key="hotel.hotel_id">
                <Card  :searchData="searchData" :hotel="hotel"/>
            
        </div> -->
        <div></div>
</template>

<script setup>
import Card from './card.vue';

    defineProps(['Hotels','searchData'])
</script>

<style>

</style>