<template>
   <div class="flex w-[280px] items-center rounded-md border border-primary bg-white py-2 px-3">
        <div class="flex flex-col items-start gap-[2px]">
            <select class="w-[260px]" v-model="selected" @change="DisplayData">
            <option disabled value="">Sort By</option>
            <!-- <option v-for="data in store.srotbydata" :key="data.id" :value="data.id" @change="handleSort($event)">{{data.title }}</option> -->
            <option v-for="data in store.srotbydata" :key="data.id" :value="data.id">{{data.title }}</option>

        </select>
        </div>
    </div>
</template>

<script setup>
import { useDataStore } from "@/store/DataStore";
import { onMounted, ref } from "vue";

    const store=useDataStore()
    const props=   defineProps(['searchData'])
    const selected=ref()
    const id=ref()
    const s_type=ref('CITY')
    const S_result=ref()
    const emit=defineEmits(['sortbyfilter'])
    onMounted(()=>{

        
        console.log ("from SORT",store.seachData)
      const val=localStorage.getItem('seachresult')
      S_result.value=JSON.parse(val)
        console.log("FROM LOCAL STORAGE",S_result.value)
        store.getSortby(S_result.value.id,S_result.value.typeCity,S_result.value.arrivalDate,S_result.value.depDate)
        // store.getSortby(
        //     store.seachData.id,s_type.value,store.searchData.arr,store.seachData.dep)
        
            // store.getSortby(
            // props.searchData.destId,
            // props.searchData.typeCity,
            // props.searchData.arrivalDate,
            // props.searchData.depDate
            // )
    })
    // const handleSort=()=>{
    //     id.value=e.target.value
    //     console.log(e.target.value)
    //     emit('sortbyfilter',id.value)
    // }
    const result=ref()
    // const DisplayData=(e)=>{
    //     id.value=e.target.value
    //     console.log(e.target.value)
    //     store.getSortByFilter(props.searchData.destId,id.value,props.searchData.arrivalDate,props.searchData.depDate)
    //     result.value=store.sortbyData
    //     console.log("result.value",result.value)
    //     emit('sortbyfilter', result.value)
    // }

     const DisplayData=(e)=>{
        id.value=e.target.value
        // console.log(e.target.value)
        // store.getSortByFilter(props.searchData.destId,id.value,props.searchData.arrivalDate,props.searchData.depDate)
        // result.value=store.sortbyData
        // console.log("result.value",result.value)
        emit('sortbyfilter', id.value)
    }

</script>

<style>

</style>