<template>
    <!-- <div class="rounded-md mb-5  w-72 h-28 bg-secondary ">
        <p class="font-medium text-base leading-5 pb-4">Search by property name</p>
        <div class="relative ">
        <img src="./../../assets/images/search 1.png" class="absolute  top-5 left-4">
        <input placeholder="eg. Beach westpalm" type="text" class="bg-white h-14 px-12 rounded-lg px-18 pt-12 pb-5">
        </div>
    </div> -->
    
    <div class=" rounded-lg  w-[295px] h-28 bg-secondary">
        <div class="pl-5 pt-5  ">
            <p class=" font-medium text-base leading-5 ">Search by property name</p>
        </div>
        <div class="rounded-md flex items-center mx-5 pb-3 pt-3 mb-5 mt-4 bg-white text-b-primary  w-64">
            <img src="./../../assets/images/search 1.png" class="ml-3" />
            <input @input="hadnlesearch" v-model="Search" placeholder="eg. Beach westpalm" type="text" class="border-none outline-none ml-5 font-normal text-sm "/>
        </div>
        
    </div>
    
</template>

<script setup>
import { ref } from 'vue';

    const Search=ref('')
    const emit=defineEmits(['search'])
    const hadnlesearch=()=>{
        console.log(Search.value)
        emit('search',Search.value)
    }

</script>

<style>

</style>