<template>
  <h1 class="text-[#333] text-lg font-semibold">Filter by</h1>
  <div class=" w-[295px] h-[22rem] bg-white border border-border-bg rounded-md">
    <div class="p-5 flex items-start rounded-tr-md rounded-tl-md border bg-secondary">
        <p class="font-medium text-base">Your budget per day</p>
    </div>
    <div class="ml-4 mr-5 ">
      <div class="font-normal text-[#333] text-sm flex justify-between  my-4">
        <div class="flex flex-col items-start ">
          <div v-for="(item, index) in checkboxList" :key="index">
          <input class="border rounded w-5 h-5 flex-shrink" 
          type="checkbox"
        :checked="index === checkedIndex"
        :disabled="isDisabled"
        @change="handleCheckboxChange(index)" />
          
          <label class="text-[#333] text-sm font-normal ml-2">{{item.label}}</label>
          </div>
        </div>
        



        
      </div> 
      <!-- <button class="w-28 p-3 flex items-center rounded bg-white border border-b-border-bg"><span class="text-[#333] text-xs font-normal ">Mini budget</span></button>
        <button class="w-28 p-3 flex items-center rounded bg-white border border-b-border-bg"><span class="text-[#333] text-xs font-normal" >Max budget</span></button></div>       -->

      <div class="flex justify-between items-center">
        <p>Set your own budget</p>
        <VueToggles v-model="example" @click="toggleCheckboxes" :height="20" :width="32" />
      </div>
       <div class="felx flex-col border-dashed py-3 px-3 border border-bg-[#D9D9D9] flex-shrink-0  flex justify-between w-[257px] h-[77px] mt-3">
          <div class="flex gap-[7px]">
            <div class="w-[103px] h-[39px] p-3 flex items-center rounded bg-white border border-b-border-bg">
                <input placeholder="Min budget" class="outline-none w-[67px] h-[17px] text-[#333] text-xs font-normal" type="text" :disabled="!isDisabled"  v-model="input1" />
           </div>
               <div class="w-[103px] h-[39px] p-3 flex items-center rounded bg-white border border-b-border-bg">
                  <input placeholder="Max budget" class="  w-[67px] h-[17px] text-[#333] text-xs font-normal" type="text" :disabled="!isDisabled"  v-model="input2" />
                </div>
            </div>
          
           <input  @keyup.enter="handleEnterKey"  placeholder="Press Enter to filter"  />
          </div>
       
  </div>
</div>

      <!-- <div class="font-normal text-[#333] text-sm flex justify-between  my-4">
        <div class="flex items-center">
          <input class="border rounded w-5 h-5 flex-shrink" v-model="items" value="500" @click="hadnlecheck($event)"  type="checkbox"/>
          <label class="ml-2">$ 200 - $ 500</label>
        </div>
        <label>100</label>
      </div>  -->

<!-- 
      <div class="font-normal text-[#333] text-sm flex justify-between  my-4">
        <div class="flex items-center">
          <input class="border rounded w-5 h-5 flex-shrink" v-model="items" value="1000" @click="hadnlecheck($event)" type="checkbox"/>
          <label class="ml-2">$ 500 - $ 1,000</label>
        </div>
        <label>15</label>
      </div>  -->

      <!-- <div class="font-normal text-[#333] text-sm flex justify-between  my-4">
        <div class="flex items-center">
          <label v-for="(item, index) in checkboxList" :key="index"></label>
          <input class="border rounded w-5 h-5 flex-shrink" v-model="items" value="2000" @click="hadnlecheck($event)"  type="checkbox"/>
          <label class="ml-2">$ 1,000 - $ 2,000</label>
        </div>
        <label>12</label>
      </div>  -->
      
      <!-- <div class="font-normal text-[#333] text-sm flex justify-between  my-4">
        <div class="flex items-center">
          <input class="border rounded w-5 h-5 flex-shrink" v-model="items" value="5000" @click="hadnlecheck($event)" type="checkbox"/>
          <label class="ml-2">$ 2,000 - $ 5,000</label>
        </div>
        <label>230</label>
      </div>  -->

  
      
      
      

</template>


<script setup>
import { ref } from 'vue';
import { VueToggles } from "vue-toggles";

const checkboxList = ref([
{label:'  $   0 -  $ 200',NUm:200},
  {label:'$ 200 -  $ 500',NUm:500},
  {label:'$ 500 -  $ 1000',NUm:1000},
  {label:'$ 1000 - $ 2000',NUm:2000},
  {label:'$ 2000 - $ 50000',NUm:5000},
]);

const example=ref(false)
const checkedIndex = ref(null);
const isDisabled = ref(false);
const input1 = ref('');
const input2 = ref('');
const emit=defineEmits(['budgetfilter'])
const toggleCheckboxes = () => {
  isDisabled.value = !isDisabled.value;

 
  // Clear the selected checkbox when disabling
  if (isDisabled.value) {
    checkedIndex.value = null;
  }
};
const MinMaxval=ref({
  Min:0,
  MAx:0,
})
const handleCheckboxChange = (index) => {
  if (!isDisabled.value) {
    checkedIndex.value = index;
  }
  MinMaxval.value.MAx=checkboxList.value[index].NUm
  switch(MinMaxval.value.MAx) {
  case '200':
    MinMaxval.value.Min=0
    break;
  case '500':
    MinMaxval.value.Min=200
    break;
  case '1000':
    MinMaxval.value.Min=500
    break; 
  case '2000':
    MinMaxval.value.Min=1000
    break;   
  case '5000':
    MinMaxval.value.Min=2000
    break;    

} 
console.log("MinMaxval.value.Min",MinMaxval.value.Min)
console.log("MinMaxval.value.Max",MinMaxval.value.MAx)
emit('budgetfilter',MinMaxval.value)

};

const handleEnterKey=()=>{
  if(input1.value !== ''  && input2 !== '' ){
    MinMaxval.value.MAx=input2.value
    MinMaxval.value.Min=input1.value
  }
  else if(input1 !== ''){
      MinMaxval.value.Min=input1.value
      MinMaxval.value.MAx=5000
  }
  else{
    MinMaxval.value.Min=0
      MinMaxval.value.MAx=input2.value
  }
  emit('budgetfilter',MinMaxval.value)
}

</script>