<template>

    <div class="w-[295px] h-44 rounded-md border border-border-bg bg-white ">
        <div class="p-4 flex items-start bg-secondary font-medium text-base  ">
            <span>Rating</span>
        </div>
        <div class="bg-white">
            <p class="font-normal text-sm text-color-t pl-5 pt-5">Show only ratings more than</p>
            
            <div class="pl-5 flex mt-2">
                <div  v-for="index in 5" :key="index " @click="hadnleratefilter(index)" class=" flex items-center w-12 h-11 pr-4  pl-4 rounded-tl border  border-border-bg hover:cursor-pointer">
                    <span>{{ index }} </span>
                    <img src="../../assets/images/star.png"/>
                </div>
                <!-- <div class=" flex items-center w-12 h-11 pr-4  pl-4 rounded-tl border  border-border-bg">
                    <span>1</span>
                    <img src="../../assets/images/star.png"/>
                </div>
                <div class=" flex items-center w-12 h-11 pr-4  pl-4 rounded-tl border  border-border-bg">
                    <span>1</span>
                    <img src="../../assets/images/star.png"/>
                </div>
                <div class=" flex items-center w-12 h-11 pr-4  pl-4 rounded-tl border  border-border-bg">
                    <span>1</span>
                    <img src="../../assets/images/star.png"/>
                </div>
                <div class=" flex items-center w-12 h-11 pr-4  pl-4 rounded-tl border  border-border-bg">
                    <span>1</span>
                    <img src="../../assets/images/star.png"/>
                </div> -->
            </div>
            
        </div>
    </div>

</template>

<script setup>


const emit=defineEmits(['ratefitler'])
const hadnleratefilter=(index)=>{
    
    emit('ratefitler',index)
}
</script>

<style>

</style>