<template>
    <div class="w-[420px]">
        
            <iframe
             class=" w-[400px] h-[240px] rounded-md" 
             :src="`https://maps.google.com/maps?q=${hotel.latitude},${hotel.longitude}&z=15&output=embed`"> 
            </iframe>
        
        <div>
            <h1 class="mt-[35px] text=[#181818] text-lg font-medium">Explore the area</h1>
            <div class="inline-flex flex-col items-center gap-3 mt-[22px]" >
                <div class="flex gap-2">
                    <div class="flex gap-2">
                        <img src="../../assets/images/bxs-plane-alt 2.png"/>
                        <p class="w-[297px] text-[#4F4F4F] font-normal text-sm">Hotel Penselvenyia</p>
                    </div>
                    <p  class=" text-[#4F4F4F] font-normal text-sm">2 min drive</p>
                </div>
                <div class="flex gap-2">
                    <div class="flex gap-2">
                        <img src="../../assets/images/bxs-map 1.png"/>
                        <p class="w-[297px] text-[#4F4F4F] font-normal text-sm">Travis Bakery store house</p>
                    </div>
                    <p  class=" text-[#4F4F4F] font-normal text-sm">10 min drive</p>
                </div>
                <div class="flex gap-2">
                    <div class="flex gap-2">
                        <img src="../../assets/images/bxs-map 1.png"/>
                        <p class="w-[297px] text-[#4F4F4F] font-normal text-sm">Olivia Johnson Garden</p>
                    </div>
                    <p  class=" text-[#4F4F4F] font-normal text-sm">15 min drive</p>
                </div>
                <div class="flex gap-2">
                    <div class="flex gap-2">
                        <img src="../../assets/images/bxs-map 1.png"/>
                        <p class="w-[297px] text-[#4F4F4F] font-normal text-sm">Norman Opera Circus</p>
                    </div>
                    <p  class=" text-[#4F4F4F] font-normal text-sm">18 min drive</p>
                </div>
                <div class="flex gap-2">
                    <div class="flex gap-2">
                        <img src="../../assets/images/bxs-map 1.png"/>
                        <p class="w-[297px] text-[#4F4F4F] font-normal text-sm">Hotel Penselvenyia</p>
                    </div>
                    <p  class=" text-[#4F4F4F] font-normal text-sm">32 min drive</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
    defineProps(['hotel'])
</script>

<style>

</style>