<template>
  <div class="w-[400px] h-[340px] rounded-md  bg-hero-pattern">
            <div class="pl-7 flex">
                <div>
                    <div class="flex pt-[73.5px]">
                        <img src="./../../assets/Vector.png"/>
                        <p class="text-[#FFF] font-medium text-lg ">my Dream Place</p>
                    </div>
                    <div class=" pt-[29.5px] w-[195px] h-[126px]">
                        <p class="text-[#FFF] font-bold text-2xl">20% off Use Promotional Coupon Code: <span class="text-[#FFD723] " >Orlando</span></p>
                    </div>
                    
                </div>
                <div class=" mr-[69px] mt-[35px]">
                    <img class="w-[177px] h-[291px]" src="./../../assets/images/Frame.png"/>
                </div>
            </div>
        </div>
</template>

<script setup>

</script>

<style scoped>
   
</style>