<template>

 <Header />
 <Roomphotosection :hotelRomms="store.hotel_rooms"/>

 <div class="w-[1440px] mx-auto h-12 shadow-3xl bg-[#FFF] ">
        <div class="flex ">
           <div class="felx items-start px-[14px] py-[10px] ">
            <p class="text-[#333] font-normal text-base">Overview</p>
           </div>
           <div @click="ScrollToRooms" class="cursor-pointer felx items-start px-[14px] py-[10px]">
                <p class="text-[#333] font-normal text-base">Room</p>
            </div>
        </div>
    </div>
  <div class="bg-secondary ">
        <div class="flex gap-[30px]   pt-10  w-[1440px] mx-auto ">
            <overviewsection  :hotelRomms="store.hotel_rooms" :rate="rate"  />
            <areasection :hotel="store.hotel_rooms"/>
        </div>
   
    <div  ref="component2" v-if="store.hotel_rooms.block  && store.hotel_rooms.block.length > 0" class="mt-40px w-[1440px] mx-auto ">
            
            <div class="mb-8">
               <p class="text-[#181818] font-semibold text-2xl"></p>
            </div>
           <div class="flex gap-[20px] ">
                
                <AvalibleroomVue/>
                    
                <roomcard :room="store.hotel_rooms" :rate="rate" :photo="store.hotel_rooms.rooms[store.hotel_rooms.block[0].room_id].photos[1].url_max750"/>
                <roomcard :room="store.hotel_rooms" :rate="rate" :photo="store.hotel_rooms.rooms[store.hotel_rooms.block[0].room_id].photos[2].url_max750"/>

           </div>    
        </div>
        <div v-else class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 w-[1440px] mx-auto" role="alert">
                            
                            <p>No Avalible Room</p>
        </div>

        <div class="w-[1440px] mx-auto">
            <Danger class="mt-[172px] mx-auto"/>
            </div>
    <Contact class="mt-[80px]"/>
    <Footer/>
        

</div>




</template>

<script setup>
import { useDataStore } from '@/store/DataStore';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import Roomcard from './Roomcard.vue';
import Overviewsection from './Overviewsection.vue';
import Areasection from './Areasection.vue';
import Roomphotosection from './Roomphotosection.vue';
import Danger from '../danger.vue';
import Contact from '../contact.vue'
import Footer from '../Footer.vue';
import Roomoverview from './Roomoverview.vue';

import AvalibleroomVue from './Avalibleroom.vue';
import Paginate from "vuejs-paginate-next";
import Header from '../Header.vue';


const store=useDataStore()
const route=useRoute()
const ID=ref()
const rate=ref()
const rooms=ref(store.hotel_rooms.rooms)
const show=ref(false)
const component2=ref(null)
onMounted(()=>{ 

    ID.value=route.params.id;
    console.log(ID.value)
    rate.value=route.params.rate;

    console.log("ONNNNN")
    
    store.getHotelDeatails(route.params.id,route.params.arrival,route.params.dep)
    
    store.getHotelDetailsDes(route.params.id)

    console.log("listofDes",store.hotel_rooms)
    // console.log("store.hotel_rooms.rooms",store.hotel_rooms.rooms.hotel_id.value)
    rooms.value=store.hotel_rooms.rooms
    // console.log(store.hotel_rooms.rooms.bed_configurations[0])
    
})


const  ScrollToRooms=()=>{
    
    component2.value?.scrollIntoView({behavior: "smooth", block: "center"})
    
}
</script>

<style scoped>
    .pagination{
        display: flex;
        padding-left: 0;
        list-style: none;

    }


    .pagination ul{
        border: solid blue;
        background: blue;
    }
    .item{
        background: blue;
        border: solid blue;
    }
    .page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.next-item{
    background: darkcyan;
    color:darkblue
}
.page-link {
    padding: .375rem .75rem;
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
/* .page-link {
    /* position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
} */

</style>