<template>
    <div class="flex flex-col gap-[31px] ">
        <div class="flex flex-col gap-3">
        <p class="text-[#1A1A1A] font-semibold text-[32px]" >{{hotelRomms.hotel_name}}</p>
        <div class="flex">
            
                <star-rating v-model:rating="rateVAl" :read-only="true" :star-size="20" :round-start-rating="false"></star-rating>   
                <p>({{hotelRomms.review_nr}} review )</p>

        </div>
       <div class="flex gap-[6px]">
        <img src="../../assets/images/location 1.png"/>
        <p class="text-[#333] font-normal text-sm">{{hotelRomms.address}}</p>
    
       </div>
    
    </div>
    <div class="w-[990px] h-[508px] rounded-md bg-[#FFF] mt-[31px] mb-[41px]">
            <div class="pl-[30px] pt-6">
                <p class="text-[#181818] font-medium text-lg">Overview</p>
                <div class="w-[800px] h-[198px] mt-5 overflow-hidden">
                    <p v-if="store.listofDes.length >0" class=" overflow-hidden  text-color-t text-base font-normal leading-[22.4px]  ">
                       {{ store.listofDes[0].description }}
                    </p>
                    <div v-else class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
                            
                            <p>No Descritpion Found</p>
                    </div>
                </div>        
            </div>

            <div class="mt-[44px] w-[990px] " >
                    <hr class="stroke-1 stroke-border-bg"/>
            </div>
            <div class="ml-[30px] mt-[26px]">
                <div >
                    <p class="text-[#181818] text-lg font-medium">Top facilities</p>
                </div>
   
    
    <div class=" grid grid-cols-[144px_auto] gap-[114px]  gap-y-[13px]  mt-6"  >
                    <div class="flex gap-3  items-center " v-for=" ufi in hotelRomms.top_ufi_benefits" :key="ufi">
                        <img src="../../assets/images/home-wifi 1.png"/>
                           
                        <p class="text-[#4F4F4F]  font-normal text-[15px]">{{ufi.translated_name}}</p>
                  
                    </div>

                    
                <!-- </div> -->
            </div>

    </div>
    </div>
</div>
    

</template>

<script setup>
import { useDataStore } from '@/store/DataStore';
import { onMounted, ref } from 'vue';
import StarRating from 'vue-star-rating'

   const props= defineProps(['hotelRomms','rate','ID'])
   const store=useDataStore()
   const ID=ref()
    const rateVAl= ref(props.rate)
   
    onMounted(()=>{
      
      
        rateVAl.value=props.rate
        console.log(rateVAl.value)
        ID.value=props.ID
    
        console.log(store.listofDes)
    })

</script>

<style>

</style>