<template>
    
    <div class="w-[1440px] mx-auto h-12 shadow-3xl bg-[#FFF] ">
        <div class="flex ">
           <div class="felx items-start px-[14px] py-[10px] ">
            <p class="text-[#333] font-normal text-base">Overview</p>
           </div>
           <div class="felx items-start px-[14px] py-[10px]">
                <p class="text-[#333] font-normal text-base">Room</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>