<template>

<div class="h-[432px] w-[520px] rounded-md bg-[#FFF]">
    <img class="w-[520px] h-[200px] rounded-tr-md rounded-tl-md" :src="photo"/>
    <div class="ml-5 mt-5">
        <h1 class="text-[#1A1A1A] text-lg font-medium">{{room.rooms[room.block[0].room_id].bed_configurations[0].bed_types[0].name}}</h1>
        <div class=" mt-[18px] ">
            <div class="mt-[10px] ">
               <div class="flex">
                  <img src="../../assets/images/bag-tick-2 1.png"/>
                  <p class="ml-[10px] text-b-primary font-normal text-[14px]">{{room.rooms[room.block[0].room_id].bed_configurations[0].bed_types[0].description}}</p>

               </div>            
            </div>
            <div class="mt-[10px]">
                <div class="flex">
                    <img src="../../assets/images/lifebuoy 1.png" />
                <p class="ml-[10px] text-b-primary font-normal text-[14px]">{{room.rooms[room.block[0].room_id].bed_configurations[0].bed_types[0].description_imperial}}</p>

                </div>            </div>
            <div class="mt-[10px]">
               <div class="flex">
                <img src="../../assets/images/Group.png"/>
                <p class="ml-[10px] text-b-primary font-normal text-[14px]">{{room.rooms[room.block[0].room_id].bed_configurations[0].bed_types[0].name_with_count}}</p>

               </div>       
                 </div>
        </div>
    
        <div class="mt-6">
            <button @click="Reserve" class="bg-bt-primary rounded-md flex w-[360px] py-3 px-[18px] justify-center items-center">
            <span class="text-[#FFF] text-[15px] font-medium ">Reserve suite</span>
        </button>
        </div>
    </div>
</div>





</template>

<script setup>

import { useDataStore } from "@/store/DataStore"
import { onMounted } from "vue"
import { useRouter } from "vue-router"

  const router=useRouter()
  const props=defineProps(['room','hotel','rate','photo'])
  const store=useDataStore()
  const Reserve=()=>{
    const diffday   = new Date(props.room.departure_date) - new Date(props.room.arrival_date)
    const millisecondsPerDay = 24 * 60 * 60 * 1000;
    const daysBetween = Math.round(diffday/ millisecondsPerDay);
    const  list={
      id:props.room.hotel_id,
      name:props.room.hotel_name,
      rate:props.rate,
      rveiwocunt:props.room.review_nr,
      url:props.photo,
      arrival_date:props.room.arrival_date,
      departure_date:props.room.departure_date,
      diffday:daysBetween,
      gross:Math.round(props.room.composite_price_breakdown?.gross_amount_per_night?.value),
      strik:Math.round(props.room.composite_price_breakdown?.strikethroughPrice?.value )

    }
    store.addObject(list)
   
   const data=  {
      id:props.room.hotel_id,
      name:props.room.hotel_name,
      rate:props.rate,
      rveiwocunt:props.room.review_nr,
      url:props.photo,
      arrival_date:props.room.arrival_date,
      departure_date:props.room.departure_date,
      diffday:daysBetween,
      gross:Math.round(props.room.composite_price_breakdown?.gross_amount_per_night?.value),
      strik:Math.round(props.room.composite_price_breakdown?.strikethroughPrice?.value )

    }
    
    localStorage.setItem('reservation', JSON.stringify(data));
  

    
    router.push({name:'Paymentpage'})
  }
</script>

<style>

</style>