<template>


<!--  class="bg-gradient-to-b"
    :style="`background: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, #FFF 100%);`" -->
<div class="w-full bglinear py-6 mx-auto">
  <div class="w-[1440px] mx-auto">
    <div v-if="hotelRomms.block && hotelRomms.block.length > 0">
      <div class="flex items-center gap-5">
        <img class="w-[1000px] h-[500px] rounded-[5px]" :src="hotelRomms.rooms[hotelRomms.block[0].room_id].photos[0].url_max1280"/>
        <div class="flex flex-col gap-5">
          <img class="rounded-[5px] w-[420px] h-[240px]" :src="hotelRomms.rooms[hotelRomms.block[0].room_id].photos[1].url_max750"/>
          <img class="rounded-[5px] w-[420px] h-[240px]" :src="hotelRomms.rooms[hotelRomms.block[0].room_id].photos[2].url_640x200"/>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="flex items-center">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">No Rooms Available!</strong> 
          <span class="block sm:inline">Something seriously bad happened.</span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <title>Close</title>
              <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>






 <!-- <div class="w-full bg-bg-pattern py-6">
    <div class="  w-[1440px] h-[500px]    bg-bg-pattern  mx-auto ">
    <div v-if="hotelRomms.block && hotelRomms.block.length > 0">

        <div class="flex items-center gap-5 ">
            <img class="w-[820px] h-[500px] rounded-[5px]" :src="hotelRomms.rooms[hotelRomms.block[0].room_id].photos[0].url_max1280"/>
            <div class="flex flex-col gap-5">
                <img class=" rounded-[5px] w-[400px] h-[240px]" :src="hotelRomms.rooms[hotelRomms.block[0].room_id].photos[1].url_max750"/>
                <img class="rounded-[5px] w-[400px] h-[240px]" :src="hotelRomms.rooms[hotelRomms.block[0].room_id].photos[2].url_640x200"/>
            </div>
        </div> 

        
    </div>
  <div v-else> 
    
   <div class="w-[1440px] flex items-center">
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">No Rooms Avalible!</strong> 
       <span class="block sm:inline">Something seriously bad happened.</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
     </div>
   </div>


  </div>
</div>
</div>

    <div>
        <div>
            
        </div>
    </div>  -->

</template>

<script setup>
import { computed, onMounted,ref } from "vue"
const imgaeurl=ref()

const key=ref()
const props= defineProps(['hotelRomms'])
const room_ID=ref()

onMounted(()=>{
    // console.log( props.hotelRomms.rooms)
    // key.value=Object.keys(props.hotelRomms.rooms)
    // console.log(key.value)
    // room_ID.value=props.hotelRomms.block.room_id
    // console.log("BLOCK",room_ID.value)

})

</script>

<style scoped>
 .bglinear{
        background: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, #FFF 100%);;
    }
</style>