<template>
    <div v-if="logindata.isloggin">
    <welcomecard  />
   
</div>
    <!-- <BookingSuccessful/> -->
      
    <!-- <searchbar class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"/> -->
    <!-- this s waht i used  -->
  <div >
    <div>
    <Header :isloggin="logindata.isloggin" />
    <Homepage/>
    <!-- <div v-if="logindata.isloggin"> -->
    <!-- <welcomecard  /> -->
    <searchbar class="z-10" />
</div>
   </div>
   <div class="flex flex-col pt-[50px] gap-[50px]">
        <Danger class="w-[1440px]"/>
        <Homecontent />
    </div>
    
 
    
    <hotelssection/>
    <loadingsection/>

    <div class="mx-auto w-[1440px] text-center  mt-[60px]">
        <h1 class="font-semibold text-3xl">Explore the world with My Dream place</h1>
        <p class="font-normal text-lg text-bt-primary">Discover new places and experiences</p>
    
    
    </div>
    <div class="mt-[80px]">
        <contact />
    </div>
 
    <Dialog  />
    <Footer/>


  
    <!-- 
    
    
    
    -->

    <!-- <card/> -->
    <!-- <Searchpage/> -->
    
    
   
</template>

<script setup>
// @ is an alias to /src
import Header from '@/components/Header.vue';

import Searchbar from '@/components/Searchbar.vue';
import Homecontent from '@/components/Home/Homecontent.vue';
import Contact from '@/components/contact.vue';
import hotelssection from '@/components/Home/hotelssection.vue';
import Footer from '@/components/Footer.vue';
import Loadingsection from '@/components/Home/Loadingsection.vue';


import Homepage from '@/components/Homepage.vue';
import Danger from '@/components/danger.vue';
import { useRoute, useRouter } from 'vue-router';
import { computed, onMounted, ref } from 'vue';
import Dialog from '@/components/Dialog/Dialog.vue';
import BookingSuccessful from '@/components/Dialog/BookingSuccessful.vue';
import Welcomecard from '@/components/Dialog/WelcomeCard.vue'
 const logindata=ref({
    name:'',
    isloggin:false
 })

 const popupVisible = ref(false);
 
 const show=ref(false)
 const route=useRoute()
const checkLog=ref()
    // const showPopup=computed(()=>{
    //     if (logindata.value.isloggin)
    //             return true
    // })


    
    onMounted(()=>{
        
                
        localStorage.setItem('header',show.value)
        checkLog.value= localStorage.getItem('isLogged')
        
        logindata.value.name=route.params.name;
        logindata.value.isloggin=route.params.isloggin;
    

    })

    
  

</script>
