<template>
  <div class="w-[400px] h-[400px] rounded-md bg-[#FFF]  " >
        <div class="rounded-tl-md rounded-tr-md h-[180px]">
            <img class="rounded-tl-md rounded-tr-md h-[180px] w-full" :src="store.paymentData.url"/>
        </div>
        <div class="ml-5 mt-5 ">
            <h1 class="text-[#181818] font-medium text-lg">{{store.paymentData.name}}</h1>
            <div class="flex gap-3 mt-[18px]">
                <star-rating v-model:rating="store.setPaymentData.rate" :read-only="true" :star-size="20" :round-start-rating="false"></star-rating>
                <p class="text-[#4F4F4F] font-normal text-sm">( Reviews)</p>
            </div>
            <div class="mt-[19px] flex flex-col items-start gap-2">
                <h1 class="text-[#EB5757] text-sm font-normal leading-5">Non refundable</h1>
                <p class="text-[#4F4F4F] text-sm font-normal leading-5">{{store.paymentData.arrival_date}}</p>
                <p class="text-[#4F4F4F] text-sm font-normal leading-5">{{store.paymentData.departure_date}}</p>
                <p class="text-[#4F4F4F] text-sm font-normal leading-5">{{store.paymentData.diffday}}  night stay</p>
            </div>
        </div>
   </div>
</template>

<script setup>
import { useDataStore } from '@/store/DataStore'
import { onMounted, ref } from 'vue'
import StarRating from 'vue-star-rating'
const store=useDataStore()
// const Listofreserve=ref(store.paymentData)
const rate=ref(4.5)
onMounted(()=>{
   const saveData = localStorage.getItem('reservation');
   
   store.paymentData=  JSON.parse(saveData) ;
   console.log(store.paymentData,"payment")
})

</script>


<style>

</style>