<template>
  <!-- <BookingSuccessful v-show="!isModalOpen" /> -->
 
    <div class="w-[810px] h-[423px] rounded-md bg-[#fff]">
        <div class="h-[60px] rounded-tr-md  rounded-tl-md bg-[#f2c94c]">
            <div class="pl-6 py-[18px]">
                <h1 class="text-[#333] font-medium text-lg">Important information about your booking</h1>
            </div>
        </div>
        <div class="ml-6 mt-8 ">
            
               
                <div class="w-[719px] text-[#333] font-normal text-sm">
                    <ol class=" list-decimal pl-6 pr-6 ">
                        <li  >This rate is non-refundable. If you change or cancel your booking you will not get a refund or credit to use for a future stay.</li>
                    <li>Stay extensions will require a new reservation.</li>
                    <li>Front desk staff will greet guests on arrival</li>
                    <li>No refunds will be issued for late check-in or early check-out.</li>

                    </ol>    
                </div>
                <div class="pl-2 pr-6 mt-8">
                    <p class=" text-[#333] font-normal text-sm"> By clicking the button below, I acknowledge that I have reviewed the 
                        <span class="text-bt-primary">Privacy Statement</span> and have reviewd and accept the <span class="text-bt-primary">Rules and Restrictions </span> and <span class="text-bt-primary"> Terms of Use.</span></p>
                </div>
                
                    <button @click="GoToTrip" class="ml-1 mt-6 rounded-md bg-bt-primary inline-flex py-3 px-[18px] items-center justify-center" >
                        <span class="text-[#FFF] text-[15px] font-medium leading-5">Complete Booking</span>
                    </button>
                
                    <div class="ml-1 mt-5">
                        <div class="flex gap-[8px]">
                            <img src="../../assets/images/lock-circle 1.png"/>
                            <p class="text-[#333] font-normal text-sm">We use secure transmission and encrypted storage 
                                to protect your personal information</p>
                        </div>
                    </div>
                    
                    <!-- <Teleport> 
                    <BookingSuccessful v-show="isModalOpen"  ></BookingSuccessful>

                   </Teleport> -->
        </div>
    </div>
</template>

<script setup>
import {  ref } from 'vue';
import { useRouter } from 'vue-router';
import BookingSuccessful from '../Dialog/BookingSuccessful.vue';

const Show=ref(false)

const router=useRouter()
const GoToTrip=()=>{
    router.push({name:'trippage'})
}

// const isModalOpen = ref(false);

// const openModal = () => {
//     router.push({name:'trippage'})
//   isModalOpen.value = true;
//   console.log(" isModalOpen.value", isModalOpen.value)
// };

// const closeModal = () => {

// router.push({name:'trippage'})
// }


</script>

<style>

</style>