<template>
    <BookingSuccessful v-if="check" />
    <Header/>
    <div class="bg-[#F4F4F4]">
        <!-- <div class="ml-[100px] h-[1820px] "> -->
            <div class="w-[1240px] h-[1820px] mx-auto">

            <!-- </div> -->
               <!-- <div class=" w-[820px]  h-8 flex-col pt-[60px] "> -->
                <h1 class="pt-[60px] text-[#1A1A1A] font-semibold text-[32px]">
                    Secure your reservation
                </h1>
            <!-- </div> -->
            <div class="pt-[30px]">
                <danger />
            </div>
            <div class="flex mt-[30px] gap-[30px]">
                <div>
                    <paymentdata/>
                    <div class="mt-[30px]">
                        <paymentoptions/>
                    </div>
                    <div class="mt-[30px]">
                        <informationsection />
                    </div>
                </div>
                <div class="flex flex-col gap-[30px]">
                    <Cardpayment/>
                    <pricedetailssection/> 
                </div>
            </div>

        </div>       
    </div>
    
</template>

<script setup>

import Header from '@/Authentication/header.vue';
import Danger from '../danger.vue'
import Informationsection from './Informationsection.vue';
import Paymentdata from './Paymentdata.vue'
import Paymentoptions from './Paymentoptions.vue';
import Pricedetailssection from './Pricedetailssection.vue';
import Cardpayment from './Cardpayment.vue';

import BookingSuccessful from '../Dialog/BookingSuccessful.vue';
import { ref } from 'vue';

const check=ref(false)

// const hadnleShowCard=(Show)=>{
//     check.value=Show
// }

</script>

<style>

</style>