<template>
    <div class="w-[810px] h-[576px] rounded-md bg-[#FFF]">
        <div class="h-[60px] rounded-tr-md  rounded-tl-md bg-bt-primary">
            <div class="py-[18px] pl-5 flex items-center gap-4 ">
                <img src="../../assets/images/card-tick 1.png"/>
                <p class="ttext-[#FFF] text-lg font-medium">Payment options</p>
            </div>
        </div>
        <div class="h-12  bg-[#FFF] shadow-3xl">
            <div class="my-2 ml-8 ">
                <div class="felx gap-[10pxs] py-[10px] px-[14px] items-start text-[#333333] ">
                    <p class="text-[#333] font-normal text-sm">Debit/Credit Card</p>                
                </div>
            </div>
        </div>
        <div class="ml-8 mt-8">
            <div class="flex gap-[6px] items-center">
                <div class=" flex  items-center w-[60px] h-10 rounded-[5px] bg-secondary">
                    <div class="py-2 px-2">
                        <img class="w-[42.667px] h-6" src="../../assets/images/image 6.png"/>
                    </div>
                </div>
                <div class="flex  items-center w-[60px] h-10 rounded-[5px] bg-secondary">
                    <div class="py-2 px-2">
                    <img class="w-[42.667px] h-6" src="../../assets/images/image 7.png"/>
                    </div>    
                </div>
                <div class=" flex  items-centerw-[60px] h-10 rounded-[5px] bg-secondary">
                    <div class="py-2 px-2">
                    <img class="w-[34px] h-[30px]" src="../../assets/images/image 10.png"/>
                    </div>   
                </div>
                <div class=" flex  items-center w-[60px] h-10 rounded-[5px] bg-secondary">
                    <div class="py-2 px-2">
                    <img class="w-[53px] h-19px" src="../../assets/images/image 8.png"/>
                    </div>
                </div>
            </div>
            <div class="felx gap-5 mt-[26px] ">
                <div class="">
                    <p class="text-sm font-medium leading-5 text-[#181818]">Name on card</p>
                    <div class="flex w-[500px] mt-1 px-3 pt-[11px] pb-3 items-center gap-[10px] bg-secondary rounded">
                        <input required class="text-[#333] font-normal text-[15px] bg-secondary focus:outline-none" type="text"/>
                    </div>
                </div>
                <div class="mt-5">
                    <p class="text-sm font-medium leading-5 text-[#181818]">Debit/Credit card number</p>
                    <div class="flex w-[500px] mt-1 px-3 pt-[11px] pb-3 items-center gap-[10px] bg-secondary rounded">
                        <input required class="text-[#333] font-normal text-[15px] bg-secondary focus:outline-none" type="text"/>
                    </div>
                </div>
                <div class="mt-5">
                    <p class="text-sm font-medium leading-5 text-[#181818]">Expiration Date</p>
                    <div class="flex gap-3 mt-1">
                        <div class="flex  pl-3 py-[10px] items-center  bg-secondary rounded">
                        <select  class=" w-[150px] text-[#333] font-normal text-[15px] bg-secondary focus:outline-none" >
                            <option class="">April</option>
                        </select>
                        </div>
                        <div class="flex  pl-3 py-[10px] items-center  bg-secondary rounded">
                        <select  class=" w-[150px] text-[#333] font-normal text-[15px] bg-secondary focus:outline-none" >
                            <option>2026</option>
                        </select>
                        </div>

                    </div>
                </div>
                <div class="mt-5">
                        <div class="flex gap-5 items-center">
                            <div>
                                <p class="text-sm font-medium leading-5 text-[#181818]">Security Code</p>
                                <div class="flex w-[240px] mt-1 px-3 pt-[11px] pb-3 items-center gap-[10px] bg-secondary rounded">
                                    <input required class="text-[#333] font-normal text-[15px] bg-secondary focus:outline-none" type="text"/>
                                </div>
                            </div>
                            <div>
                                <p class="text-sm font-medium leading-5 text-[#181818]">Billing Zip code</p>
                                <div class="flex w-[240px] mt-1 px-3 pt-[11px] pb-3 items-center gap-[10px] bg-secondary rounded">
                                    <input required class="text-[#333] font-normal text-[15px] bg-secondary focus:outline-none" type="text"/>
                                </div>
                            </div>
                        </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</template>

<script setup>

</script>

<style>

</style>