<template>
  <div class="w-[810px] h-[328px] rounded-md bg-[#FFF]">
    
        <div class="h-[60px] rounded-tr-md rounded-tl-md bg-bt-primary" >
        <div class="pl-5 pt-[18px] flex">
            <img  src="../../assets/images/security-user 1.png"/>
            <div class="flex pl-4">
                <p class="mr-4 text-[#FFF] text-lg leading-6 font-medium">Room 1 </p>
                <p class="mr-[18px] text-[#FFF] text-base leading-6 font-medium">2 adults, 1 double bed and 1 twin bed, Non-smoking</p>
            </div>
        </div> 
    </div>
    
    <div class="pl-8 pt-8">
        <div class="flex ">
            <div class="flex flex-col">
                <label class="text-sm font-medium leading-5 text-[#181818]">Fisrt name</label>
                <div class="mt-1 flex items-center pt-[11px] px-3 pb-3   bg-secondary focus:border focus:bg-[#FFF] focus:border-bt-primary rounded ">
                    <input required class="text-[#333] font-normal text-[15px] bg-secondary focus:outline-none focus:bg-[#FFF]" type="text"/>
                </div>
            </div>
            <div class="flex flex-col ">
                <label class="ml-5 text-sm font-medium leading-5 text-[#181818]">Last name</label>
                <div class="mt-1 flex items-center pt-[11px] px-3 pb-3 ml-5  bg-secondary border   hover:bg-[#FFF] focus:border-bt-primary">
                    <input required class="text-[#333] font-normal text-[15px] bg-secondary focus:outline-none hover:bg-[#FFF]" type="text"/>
                </div>
            </div>
            
        </div>
        <div class="mt-5">
            <h1  class="text-sm font-medium leading-5 text-[#181818]">Mobile number</h1>
            
            
              <div class="flex">
                <div class="  rounded-lg flex items-center px-3 py-[10px] text-b-primary bg-secondary w-[150px]">
                <img  src="./../../assets/images/location 1.png" >
      
                <select placeholder="Where are you going?" class="outline-none appearance-none bg-secondary ml-5 font-normal text-b-primary text-sm ">
                    <option class="text-[#333] font-normal text-[15px] bg-secondary  focus:outline-none focus:bg-[#FFF]" value="" >Where </option>
                    
                </select>
               
              </div>
              <div class=" rounded  ml-3 flex w-[338px] px-3 py-[10px] outline-none bg-secondary  items-center">
                    <input required class="text-[#333] font-normal text-[15px] bg-secondary focus:outline-none focus:bg-[#FFF]" type="text"/>
                </div>
                
            </div>

            <div class="mt-5">
                <div class="flex items-center">
                    <div>
                        <input required class="w-5 h-5 border-[#BDBDBD]  border rounded-[5px] bg-[#fff]" type="checkbox"/>
                    </div>
                    <di class="flex flex-col justify-center h-5 ml-2">
                        <p class="text-sm font-medium leading-5 text-[#181818]">Receive text alerts about this trip.</p>
                    </di>
                </div>
            </div>

        </div>
    </div>

    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>