<template>
  <div class="w-[400px] h-[217px] rounded-md bg-[#fff] border border-secondary">
        <div class="rounded-tr-md rounded-tl-md bg-[#85E0AB] flex items-start p-[18px] gap-[10px] ">
            <p class="text-[#333] font-medium text-base">We use secure transmission and
                Price Details
            </p>
        </div>
        <div class="mt-[23px] ml-[18px]">
            <div class="flex gap-[205px] ">
                <div>
                    <p class="text-[#4F4F4F] font-normal text-sm leading-5">1 room X 2 nights</p>
                </div>
                <div>
                    <p class="text-[#4F4F4F] font-normal text-sm leading-5">$ 120.32</p>
                </div>
                
            </div>
            <div class="flex gap-[205px] mt-3 ">
                <div>
                    <p class="text-[#4F4F4F] font-normal text-sm leading-5">1 room X 2 nights</p>
                </div>
                <div>
                    <p class="text-[#4F4F4F] font-normal text-sm leading-5">$ 120.32</p>
                </div>
                
            </div>
            
            
        </div>
        <hr class="mt-5">
      <div class="mt-[18px] ml-[18px]">
        <div class="flex items-center gap-[282px]">
            <p class="text-[#181818] text-base font-medium" > Total</p>
            <p class="text-[#181818] text-base font-medium">$130</p>
        </div>
      </div>
  </div>
</template>

<script setup>

</script>

<style>

</style>