<template>
   <div  class=" mx-auto w-[1440px]  ">
    <div>
        <!-- <img src="./../../assets/Rectangle2.png"/> -->
        <h2 class="font-bold text-3xl">Enjoy your dream vacation</h2>
        <p class="leading-9 max-w-screen-sm">Plan and book our perfect trip with expert advice, travel tips, 
            destination information and  inspiration from us
        </p>
        
    </div>
   <div class="mt-[30px]">
    <div class=" grid grid-cols-4 gap-5 mx-auto">
        <div v-for="card in cardsData" :key="card.id"  > 
                <homecard  :card="card"  />
    </div>
   </div>

    </div>   
    <div class="mt-[60px] ">
       <h1 class="font-semibold text-3xl"> Get inspiration for your next trip</h1>
    </div>
    <div class="grid grid-cols-3 mx-auto gap-5 pb-4 mt-6">
        <div v-for="details in tripDetails" :key="details.id"  > 
                <NexttripHome  :details="details"  />
        </div>

    </div>  
</div>
 
</template>

<script setup>
import Homecard from './Homecard.vue'
import NexttripHome from './NexttripHome.vue'
import logo from './../../assets/images/Rectangle 10.png'
import logo2 from './../../assets/images/Rectangle 11.png'
import logo3 from './../../assets/images/Rectangle 9.png'
import logo4 from './../../assets/images/Rectangle 8.png'
import logo5 from './../../assets/images/Rectangle 16.png'
import logo6 from './../../assets/images/Rectangle 17.png'
import logo7 from './../../assets/images/20.png'
import {  ref } from "vue";
import NexttripHomeVue from './NexttripHome.vue'

const cardsData=ref([
        {id:1,imgUrl:logo,city:'Australia',des:'2246 properties'},
        {id:2,imgUrl:logo2,city:'Japan',des:'1278 properties'},
        {id:3,imgUrl:logo3,city:'New Zealand',des:'480  properties'},
        {id:4,imgUrl:logo4,city:'New Zealand',des:'320 properties'},
])
const tripDetails=ref([
        {id:1,imgUrl:logo5,des:'Browse the fastest growing tourism sector in the heart of Australia tourism capital ....',title:'Sydeny’s 10 most fashionable 5 star hotels'},
        {id:2,imgUrl:logo6,des:'Top sites where you do not have to worry about being a vegan. Our tourist guide is here...',title:'Top cities for Vegan Travellers'},
        {id:3,imgUrl:logo7,des:'Pandemic is still intact and will be here for a longer time. Here’s where your next destination...',title:'World’s top destinations during and post covid timeline'},
])

</script>

<style>

</style>