<template>
     <div  class=" mx-auto w-[1440px] mt-[60px]  ">
        <div class="w-[504px] h-8">
            <h1 class="text-[#181818] text-[28px] font-semibold">Popular hotels</h1>
        </div>
        <div class="grid grid-cols-4 gap-5 mt-6">
            <div v-for="card in cardsData" :key="card.id"  > 
                    <homecard  :card="card"  />
            </div>
        </div>  
    </div>
</template>

<script setup>
import Homecard from './Homecard.vue'
import {  ref } from "vue";

import logo from './../../assets/images/t1.png'
import logo2 from './../../assets/images/t2.png'
import logo3 from './../../assets/images/t3.png'
import logo4 from './../../assets/images/t4.png'

    const cardsData=ref([
            {id:1,imgUrl:logo,city:'Australia',des:'2246 properties'},
            {id:2,imgUrl:logo2,city:'Japan',des:'1278 properties'},
            {id:3,imgUrl:logo3,city:'New Zealand',des:'480  properties'},
            {id:4,imgUrl:logo4,city:'New Zealand',des:'320 properties'},
    ])
</script>

<style>

</style>