<template>
  <div class=" flex flex-wrap justify-between items-center relative mx-auto w-[1440px] mt-[60px] -z-10">
    <img class="w-full" src="./../../assets/images/Frame 1000006873.png"/>
    <!-- <div class="absolute left-1/3 bottom-0 w-[719.712px] ]">
        <img class="w-full h-full"  src="./../../assets/images/Isolated_right_hand_with_smartphone 2.png">
    </div> -->
    <div class="absolute left-14">
        <h1 class="font-semibold text-3xl text-white max-w-2xl leading-10">Download the mobile application for bonus coupons and travel codes</h1>
        <button class=" rounded-md mt-5
        px-5 py-3 bg-bt-primary text-white font-medium text-base">Download mobile app</button>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>