<template>
    <div class="flex flex-wrap w-[400px]h-[280px] items-end relative -z-10 gap-5 ">
        <img  class="w-full " :src="details.imgUrl"/>
    <div class="absolute text-white pl-4 pb-3" >
        <h2 class=" left-28 font-semibold text-xl leading-6 w-80 ">{{ details.title }}</h2>
        <p class="font-normal text-base w-auto leading-5">{{ details.des }}</p>
    </div>
   </div>
</template>

<script setup>
    defineProps(['details'])
</script>

<style>

</style>