<template>
  
    <!-- -->
    <div class=" mx-auto w-[1440px]">
        <div class="flex justify-between  pt-8 pb-[60px] ">
        <div>
            <div class="flex gap-1 ">
                <img src="./../assets/Vector.png"/>
                <span class="font-medium text-lg">my Dream Place</span>
            </div>
            <p class="w-56 font-normal text-sm">Your next goto companion for travel</p>
        </div>
        <div>
            <h2 class="font-medium text-lg">Company</h2>
            <p>About</p>
            <p>Jobs</p>
            <p>Newsroom</p>
            <p>Advertising</p>
            <p>Contact us</p>
        </div>

        <div>
            <h2 class="font-medium text-lg">Explore</h2>
            <p class="w-56 font-normal text-sm">New Zealand</p>
            <p class="w-56 font-normal text-sm">United States America (USA)</p>
            <p class="w-56 font-normal text-sm">Greece</p>
            <p class="w-56 font-normal text-sm">Maldives</p>
            <p class="w-56 font-normal text-sm">Singapore</p> 
            <a href="#" class="font-normal text-sm text-bt-primary">See more</a>
        </div>
        <div>
            <h2 class="font-medium text-lg">Terms and Policies</h2>
            <p class="w-56 font-normal text-sm">Privacy Policy</p>
            <p class="w-56 font-normal text-sm">Terms of use</p>
            <p class="w-56 font-normal text-sm">Acessibility</p>
            <p class="w-56 font-normal text-sm">Reward system policy</p>
        
        </div>
        <div>
            <h2 class="font-medium text-lg">Help</h2>
            <p class="w-56 font-normal text-sm">Support</p>
            <p class="w-56 font-normal text-sm">Cancel your bookings</p>
            <p class="w-56 font-normal text-sm">Use Coupon</p>
            <p class="w-56 font-normal text-sm">Refund Policies</p> 
            <p class="w-56 font-normal text-sm">International Travel Documents</p>
        </div>

    </div>
    </div>
</template>

<script>

</script>

<style>

</style>