<template>
    <div class="   mx-auto  h-[72px] rounded-lg bg-[#FCEFCA]">
        <div class="flex items-center gap-[19px] py-5 pl-6">
            <img src="./../assets/images/danger 1.png"/>
            <p>Check the latest COVID-19 restrictions before you travel. <a href="#">Learn more</a></p>
        </div>    
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>