<template>
    <div class="relative w-[2017px] font-normal text-lg text-b-primary bg-b-seondary h-10">
        <p  class=" absolute left-3/4">&copy; my Dream Place 2022</p>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>