<template>
  
        <nav v-if="show==='true'" class=" bg-hero-pattern h-[200px] ">
        <div  class="flex items-center justify-between flex-wrap pt-6 pb-5 w-[1440px] mx-auto  ">
            <div class="flex items-center flex-shrink-0 gap-1  ">
    <img src="../assets/Vector.png"/>
    <p class=" text-[#FFF] text-lg font-medium">my Dream Place</p>
  </div>
  <div class=" ml-[359px] flex-grow flex items-center gap-10 w-auto">
    
      
                            <ul  class=" text-sm flex-grow flex items-center gap-12">
                                <li class="text-[#FFF] font-normal text-base"><a href="#"></a>Home</li>
                                <li class="text-[#FFF] font-normal text-base"><a href="#"></a>Discover</li>
                                <li class="text-[#FFF] font-normal text-base"><a href="#"></a>Activities</li>
                                <li class="text-[#FFF] font-normal text-base"><a href="#"></a>About</li>
                                <li class="text-[#FFF] font-normal text-base"><a href="#"></a>Contact</li>
                            </ul>
    <div  class="flex gap-[10px] items-center">
        <img class="w-6 h-6"  src="../assets/images/notification.png"/>
        <img class="w-11 h-11"  src="../assets/images/Ellipse 2.png"/>
    </div>
  </div>
        </div>
    </nav>
    <header v-else class="w-[1440px] mx-auto">
        <!-- <header v-if="show!=='true'" class="w-[1440px] mx-auto"> -->
        <nav class="flex items-center justify-between flex-wrap pt-6 pb-5">
    <div class="flex items-center flex-shrink-0 gap-1 text-white ">
    <img src="../assets/Vector.png"/>
    <p class=" text-[#1B1F2D] text-lg font-medium">my Dream Place</p>
  </div>
  <div class=" ml-[359px] flex-grow flex items-center gap-10 w-auto">
    
      
                            <ul  class="text-sm flex-grow flex items-center gap-12">
                                <li class="text-[#333] font-normal text-base"><a href="#"></a>Home</li>
                                <li class="text-[#333] font-normal text-base"><a href="#"></a>Discover</li>
                                <li class="text-[#333] font-normal text-base"><a href="#"></a>Activities</li>
                                <li class="text-[#333] font-normal text-base"><a href="#"></a>About</li>
                                <li class="text-[#333] font-normal text-base"><a href="#"></a>Contact</li>
                            </ul>
    
    <button v-if="islogged!=='true'" @click="Login" class="">
      <a href="#" class="inline-block text-[15PX] px-5 py-[10px] w-[82px]  h-10 text-center    rounded-md  bg-bt-primary leading-none border  text-white border-white ">Login</a>
    </button>
   
    <div v-else class="flex gap-[10px] items-center">
        <img class="w-6 h-6"  src="../assets/images/notification 1.png"/>
        <img @click="logout" class="cursor-pointer w-11 h-11" src="../assets/images/Ellipse 2.png" />

    </div>
  </div>

     </nav>
     </header>
     
</template>

<script setup>
import { computed, onMounted, ref } from "vue"
import { useRoute, useRouter } from "vue-router"
    const props=  defineProps(['isloggin'])
    const route=useRoute()
    const router=useRouter()
    const  islogged=ref()
    const show=ref()
    const isDropdownOpen=ref(false)

    onMounted(()=>{
        show.value=localStorage.getItem('header')
        islogged.value=localStorage.getItem('isLogged')
        console.log("HEADER",show.value)
    
    
    })  
    const  toggleOptions=()=> {
        isDropdownOpen.value = !this.isDropdownOpen.value;
    }
    const closeOptions=()=> {
        isDropdownOpen.value = false;
      }

    const Login=()=>{
        console.log(props.isloggin)
        router.push('/Login')
    }
    const logout=()=>{
        localStorage.setItem('isLogged',false)
        router.push('/')
    }
</script>

<style>

</style>