<template>
    <div class="w-[1440px] h-[650px] mx-auto relative flex items-center -z-10 bg-grad">
        <!-- <img src="../assets/images/landing.jpeg" class="rounded-[10px] h-[600px] w-full object-fill  "  alt="Logo" /> -->
        <div class=" text-center flex flex-col items-center gap-5 leading-9  m-[200px]  text-white">
            <h2 class="font-bold text-2xl w-[610px] ">Enjoy Your Dream Vacation</h2>
            <div class="w-[590px] mx-[200px]">
                <p class="">Plan and book our perfect trip with expert advice, travel tips, destination information and  inspiration from us
            </p>
            </div>

           
        </div>
        
    </div>


</template>



<script setup>

</script>

<style scoped>
    .bg-grad{
        border-radius: 10px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('../assets/images/landing.jpeg'), lightgray 0px -72.075px / 100% 165.959% no-repeat;
        background-size: cover;
    }
</style>