
<template>
 <div class="  mt-[-30px]">
  <div class=" rounded-lg bg-white h-16  flex  justify-around items-center max-w-screen-lg mx-auto gap-3 shadow-xl  px-2">

  <drop @update:model-value="DestIDUpdate"  :hoteldata="filterlist"/>

  <VueDatePicker v-model="searchValidate.startDate" placeholder="check in " :format="formatStartDate" class="  w-[13rem] " />
  <VueDatePicker v-model="searchValidate.EndDate" placeholder="check out " :format="formatEndtDate" class=" w-[13rem]"  />
  
  <div class="rounded flex items-center gap-10 px-3 pb-3 pt-[11px] text-b-primary bg-secondary  w-52">
        <img :src="userSquare" />
        <input placeholder="Guest" v-model="NumbGuest" type="text" class="  text-b-primary w-20 border-none outline-none text-left bg-secondary font-normal text-sm "/>
     </div>
  <div class="rounded flex items-center gap-10 px-3 pb-3 pt-[11px] text-b-primary bg-secondary  w-52">
        <img :src="userSquare" />
        <input placeholder="Rooms" type="text" v-model="numofRoom" class="  text-b-primary w-20 border-none outline-none bg-secondary font-normal text-sm "/>
     </div>
    
  <button @click.prevent="handle" class="px-5 py-3 bg-bt-primary text-white font-medium text-base rounded-md">Search</button>
  </div>
 </div>
</template>


<script setup>
import userSquare from '../assets/images/user-square 1.png'
import drop from './Search/drop.vue'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import { isAuthenticate,isTokenExpired } from '@/Authentication/auth'

import { useDataStore } from '../store/DataStore'
import { onMounted, computed,ref } from 'vue'
import { useRouter } from 'vue-router'



const store=useDataStore()
const router=useRouter();
const modelValue=ref()
const numofRoom=ref()
const NumbGuest=ref()

const searchValidate=ref({
  startDate:'',
  EndDate:'',
  RoomsNum:0,
  gustNum:0
})
const filterlist=computed(()=>{
  return  store.hotelData.filter((item)=>
    item.city_name != ''
    )
})
onMounted(() => {
    store.fetchData();

    console.log("DATA",store.hotelData)
  });
  

  const S_date = ref(new Date());
  const E_date= ref(new Date());
  const format=(date)=>{
    return  date.toISOString().substring(0, 10);
  }

const formatStartDate = (S_date) => {
  searchValidate.value.startDate= format(S_date)
  return `${searchValidate.value.startDate}`;
}
const formatEndtDate = (E_date) => {
  searchValidate.value.EndDate= format(E_date)
  return `${searchValidate.value.EndDate}`;
}
  const cityname=ref()
  const DestIDUpdate=(va)=>{
  
    modelValue.value=va.dest_id
    cityname.value=va.city_name
    
    console.log(modelValue.value)
  }
  const today=new Date()
  const handle=()=>{
      localStorage.setItem('header',true)
 

  const currentDate = new Date();
  console.log(currentDate)
  if (searchValidate.startDate < currentDate) {
    alert('Check-in date cannot be in the past.');
    return;
  }

  if (searchValidate.value.EndDate <= searchValidate.value.startDate) {
    alert('Check-out date must be after the check-in date.');
    return;
  }

  if (numofRoom.value == '') {
    alert('Number of rooms cannot be less than 1.');
    return;
  }

  if (NumbGuest.value == '') {
    alert('Number of guests cannot be less than 1.');
    return;
  }

router.push({name:'searchpage',params: { id: modelValue.value,arrival:searchValidate.value.startDate,
         dep: searchValidate.value.EndDate,adult:NumbGuest.value,rooms:numofRoom.value,
         cityname:cityname.value
       }});

      
    }

</script>

<style scoped>
:root {
  --dp-border-radius:6px;
  /* --dp-cell-padding:12px; */
}
  .dp__theme_light {
    --dp-background-color: #F2F2F2;
    --dp-border-color: #F2F2F2;
    --dp-border-color:none;
    --dp-input-padding:10px 12px 12px 12px;
  
  }
</style>