<template>
  <Header/>

  <div class=" mt-[-30px]">
  <div class=" rounded-lg bg-white h-16  flex  justify-around items-center max-w-screen-lg mx-auto gap-3 shadow-xl py-2 px-2">

  <div class="  rounded flex items-center px-3 pb-3 pt-[11px] text-b-primary bg-secondary  w-[206px] gap-[10px]">
      <img  src="../assets/images/location 1.png" >
      <select   class="outline-none  bg-secondary font-normal text-b-primary w-[170px] text-sm ">
      <option class="text-b-primary text-sm bg-[#FFF] underline" :value="searchData.cityname">{{ searchData.cityname }}</option>
    </select>
    </div>     
  <VueDatePicker v-model=" Sdate"  :format="Sdate" class="w-[13rem]" />
  <VueDatePicker v-model="Edate"  :format="Edate" class="w-[13rem]" />
  <div class="rounded flex items-center gap-10 px-3 pb-3 pt-[11px] text-b-primary bg-secondary  w-52">
        <img :src="userSquare" />
        <input placeholder="Adult" type="text" v-model="searchData.guest" class="text-b-primary w-20 border-none outline-none bg-secondary font-normal text-sm "/>
    </div>
    
    <div class="rounded flex items-center gap-10 px-3 pb-3 pt-[11px] text-b-primary bg-secondary  w-52">
        <img :src="calander" />
        <input placeholder="Rooms" type="text" v-model="searchData.rooms" class="text-b-primary w-20 border-none outline-none bg-secondary font-normal text-sm "/>
    </div>
  

  <button @click.prevent="handle" class="px-5 py-3 bg-bt-primary text-white font-medium text-base rounded-md">Search</button>
  </div>
 </div>



 <div class="mx-auto w-[1440px]">
  <div class=" flex flex-col md:flex-row mt-[64px]">
  <!-- First Column: Filters -->
  <div class="flex flex-col md:flex-shrink-0 gap-[61px] ">
    <Filterbyname @search="Handlesearch" />
    <div>
      <Filterbybudget @budgetfilter="hadnelFilterbudget" />
    </div>
    <Ratingfilter @ratefitler="handleratefilter" />
  </div>
  
  <!-- Second Column: Text and DisplayCards -->
  <div class="flex flex-col items-start w-full gap-[28px] ml-[40px] ">
    <div class="w-full  h-8 mb-4 md:mb-6 md:flex gap-[221px] items-center justify-between ">
      <p class="text-[#181818] font-semibold text-2xl mb-2 md:mb-0">Melbourne: 2,582 search results found</p>
      <div class="w-[265px] mr-[20px]">
        <Filtersortby :searchData="searchData" @sortbyfilter="hadnleSortBy" />
      </div>
    </div>

    <div class="flex w-full overflow-hidden  ">
      <div class="flex-grow flex flex-col gap-6">
         <div class="flex flex-col gap-6" v-for="hotel in store.sortbyData" :key="hotel.hotel_id">
                <Card  :searchData="searchData" :hotel="hotel"/>
            
        </div>
      </div>
    </div>
    <div class="w-[551px] ml-10">
      <PaginationCom class="w-full" :totalPageNum="store.totalPageNumber" @getPageData="HandlePageination  "/>
    </div>
  </div>

</div>
<danger class="mt-[192px]"/>
 </div>

  <div class="mt-[70px]">
    <Contact />
  </div>
<Footer/>
  

  
</template>
<script setup>
import { ref, computed, onMounted, watch } from 'vue';
import { useDataStore } from '@/store/DataStore';
import { useRoute } from 'vue-router';
import VueDatePicker from '@vuepic/vue-datepicker';
import Filtersortby from './filteration/filtersortby.vue';

import Header from './Header.vue';
import PaginationCom from './Pagination/PaginationCom.vue';
import Contact from '@/components/contact.vue';
import Danger from '@/components/danger.vue';
import Footer from '@/components/Footer.vue';
import calander from '../assets/images/single_bed_FILL0_wght400_GRAD0_opsz24 1.png'
import userSquare from '../assets/images/user-square 1.png'
import Filterbybudget from './filteration/filterbybudget.vue';
import Filterbyname from './filteration/filterbyname.vue';
import Ratingfilter from './filteration/ratingfilter.vue';
import Card from './filteration/card.vue';

const route = useRoute();
const store = useDataStore();

const searchData = ref({
  destID: 0,
  cityname:'',
  type: 'CITY',
  arrival: '2023/12/2',
  dep: '2023/12/2',
  rooms:1,
  guest:1
});

const page = ref(1);
const totalPageNum=ref('1 tota')
onMounted( () => {
  searchData.value.destID = route.params.id;
  searchData.value.arrival = route.params.arrival;
  searchData.value.dep = route.params.dep;
  searchData.value.guest=route.params.adult,
  searchData.value.rooms=route.params.rooms,
  searchData.value.cityname=route.params.cityname
  
   store.getTotalPAgeNumber(
    searchData.value.destID,
    searchData.value.arrival,
    searchData.value.dep,
    page.value
  );
  

  store.gethotelsData(
    searchData.value.destID,
    searchData.value.arrival,
    searchData.value.dep,
    page.value,
    searchData.value.guest
  );

  store.getSortby(
    searchData.value.destID,
    searchData.value.type,
    searchData.value.arrival,
    searchData.value.dep
  );

  
});

const Sdate= computed(()=>{
    return route.params.arrival
    
})
const Edate= computed(()=>{
    return route.params.dep
    
})
const searchVal = ref('');
const ratefitlerVal = ref(0);

const HandlePageination = (page) => {
  store.gethotelsData(
    searchData.value.destID,
    searchData.value.arrival,
    searchData.value.dep,
    page,
    searchData.value.guest
  );
};

const Handlesearch = (search) => {
  console.log("SEARCH",searchVal.value)
  searchVal.value = search;
  if (searchVal.value !== '') {
    store.sortbyData= store.Hotels.filter((items) => items.property.name.includes(searchVal.value));
  }
  else
  store.sortbyData=store.Hotels
};

const handleratefilter = (index) => {
  ratefitlerVal.value = index;
  if (ratefitlerVal.value !== 0) {
    store.sortbyData= store.Hotels.filter(
      (items) => (items.property.reviewScore / 2) >= ratefitlerVal.value
    );
  }
  else
  store.sortbyData=store.Hotels
};

const hadnleSortBy = (result) => {
  store.getSortByFilter(route.params.id, result, route.params.arrival, route.params.dep);
};

const hadnelFilterbudget = (Min_Max) => {
  store.getSortbybudget(
    route.params.id,
    Min_Max.Min,
    Min_Max.MAx,
    route.params.arrival,
    route.params.dep
  );
};

const FilterdITems = computed(() => {
  if (searchVal.value !== '') {
    return store.sortbyData.filter((items) => items.property.name.includes(searchVal.value));
  }

  if (ratefitlerVal.value !== 0) {
    return store.sortbyData.filter(
      (items) => (items.property.reviewScore / 2) >= ratefitlerVal.value
    );
  }

  return store.Hotels;
});

watch(FilterdITems, (newFilteredItems) => {
  store.sortbyData = newFilteredItems;
});

</script>
<style scoped>

:root {
  --dp-border-radius:6px;
  /* --dp-cell-padding:12px; */
}
  .dp__theme_light {
    --dp-background-color: #F2F2F2;
    --dp-border-color: #F2F2F2;
    --dp-border-color:none;
    --dp-input-padding:10px 12px 12px 12px;
  
  }

</style>