<template>
    <div   @click="closePopup" class="w-full h-full fixed flex items-center justify-center">
  <div class="relative z-50 flex flex-col items-center w-[500px] h-[500px] rounded-[10px] bg-white">
    <!-- Inner content goes here -->
    <div class="mx-8 pt-[50px]">    
      <img class="flex items-center w-[240px] h-[240px] mx-9 gap-[10px]" src="../../assets/images/booking.png"/>
    </div>
   <div class="mt-[20px]">
    <h1 class="text-[#181818] text-center text-xl font-semibold ">Booking Successful</h1>
    <p class="w-[352px] font-normal text-center mx-6 text-[#4F4F4F] text-base">
        Congratulations your reservation has been made. You will be notified 2 days prior the date.
    </p>
   
    <button class="mt-[25px] mx-6 flex justify-center items-center py-3 w-[352px] text-[#FFF] bg-bt-primary rounded-md">
      <span class="text-[15px] font-medium leading-5">View Trip</span>
    </button>
  </div>
</div>
  <div class="absolute inset-0 bg-black opacity-20"></div>
</div>


</template>

<script setup>
   import { ref } from 'vue';
const showPopup = ref(true);

const emit=defineEmits(['close'])
const closePopup = () => {
  console.log('closr')
  showPopup.value = true;
  emit('close')
}; 


// const  closePopup=()=>{
//   emit('close')
// }

</script>

<style>

</style>