<template>
    <div  v-if="showPopup" @click="closePopup" class="w-screen h-screen fixed flex items-center justify-center">
  <div class=" z-20 flex flex-col items-center w-[500px] h-[500px] rounded-[10px] bg-white">
    <!-- Inner content goes here -->
    <div class="mx-8 pt-[50px]">    
      <img class="flex items-center w-[240px] h-[240px] mx-9 gap-[10px]" src="../../assets/images/welcome card.jpg"/>
    </div>
   <div class="mt-[20px]">
    <h1 class="text-[#181818] text-center text-xl font-semibold ">Welcome to My Dream Place</h1>
    <p class="w-[352px] text-center font-normal mx-6 text-[#4F4F4F] text-base">
      You can now enjoy your travel experience with easy access to resources and more
    </p>
   
    <button class="mt-[25px] mx-6 flex justify-center items-center py-3 w-[352px] text-[#FFF] bg-bt-primary rounded-md">
      <span class="text-[15px] font-medium leading-5">Get Started</span>
    </button>
  </div>
</div>
  <div class="absolute inset-0 bg-black opacity-20"></div>
</div>
</template>

<script setup>
   import { ref } from 'vue';
const showPopup = ref(true);
defineEmits('closePopup')
const closePopup = () => {
  console.log("DDD")
  showPopup.value = false;
  
}; 


</script>

<style>

</style>