
<template>
  
  <!--  <div class="  rounded flex items-center px-3 pb-3 pt-[11px] text-b-primary bg-secondary  w-[206px] gap-[10px]">
        <img  src="./../../assets/images/location 1.png" >
        <select  v-model="va"  @change="changedata" class="outline-none  bg-secondary font-normal text-b-primary w-[170px] text-sm ">
      
        <option class="text-b-primary text-sm bg-[#FFF] underline" value="">Where are you going?</option>
        <option   v-for="data in hoteldata" :key="data.dest_id" :value=data>{{ data.city_name }}</option>
      </select>

    </div> -->

    <div class="rounded flex items-center relative pt-3 pb-[12px] text-b-primary bg-secondary w-[220px] gap-[10px]">
    <img class="pl-1" src="./../../assets/images/location 1.png" alt="Location Icon">

    <div @click="toggleDropdown" class="cursor-pointer relative   text-[13px]">
      <span :class="{ 'text-gray-500': !selectedDestination } ">{{ selectedDestination ? selectedDestination.city_name : 'Where are you going?' }}</span>
      <!-- <span :class="{ 'rotate-180': isDropdownOpen }" class="absolute top-1/2 right-0 transform translate-y-[-50%]  transition-transform duration-300">&lt;</span> -->
    </div>

    <div v-show="isDropdownOpen" class="shadow-xl rounded-md absolute top-full bg-white border border-gray-300 mt-1 py-2 z-10">
      <div v-for="(data, index) in hoteldata" :key="data.dest_id" @click="selectDestination(data)" class="last:border-b-0 cursor-pointer px-3 py-1 hover:bg-gray-100 border-b border-gray-300" :class="{ 'rounded-t-md': index === 0, 'rounded-b-md': index === hoteldata.length - 1 && !isDropdownOpen }">
        {{ data.city_name }}
      </div>
    </div>
  </div>

    <!-- -------------------------- -->
    <!-- <div class="  rounded flex items-center  text-b-primary bg-secondary  w-[206px] gap-[10px]">
    <img src="./../../assets/images/location 1.png" alt="Location Icon">

    <div @click="toggleDropdown" class="cursor-pointer relative">
      {{ selectedDestination ? selectedDestination.city_name : 'Where are you going?' }}
      <span v-if="isDropdownOpen" class="absolute top-0 right-0 transform translate-y-1/2 mr-2">&lt;</span>
      <span v-else class=" absolute top-0 right-0 transform translate-y-1/2 mr-2 -rotate-90">&lg;</span>
    </div>

    <div v-show="isDropdownOpen" class="shadow- 2xl rounded-[10px] absolute top-full  bg-[#FFF] border border-gray-300 mt-1 py-2 z-10 ">
      <div v-for="(data, index) in hoteldata" :key="data.dest_id" @click="selectDestination(data)" class="last:border-b-0 cursor-pointer px-3 py-1 hover:bg-gray-100 border-b border-gray-300" :class="{ 'rounded-t': index === 0, 'rounded-b': index === hoteldata.length - 1 && !isDropdownOpen }">
        {{ data.city_name }}
      </div>
    </div>
  </div> -->
</template>

<script setup>

import { ref,watch  } from "vue"

// const hoteldata = [
//   { dest_id: 1, city_name: 'Destination 1' },
//   { dest_id: 2, city_name: 'Destination 2' },
//   // Add more destinations as needed
// ];

const selectedDestination = ref(null);
const isDropdownOpen = ref(false);

const toggleDropdown = () => {
  isDropdownOpen.value = !isDropdownOpen.value;
};
defineProps(['hoteldata','modelValue']) 
const emit=defineEmits(['update:modelValue'])
const selectDestination = (data) => {
  selectedDestination.value = data;
  isDropdownOpen.value = false;
  // emit('update:modelValue',data.dest_id)

emit('update:modelValue',data)
  
};


// watch(isDropdownOpen, (newValue) => {
//   if (!newValue) {
//     // Dropdown is closed, reset selected destination
//     selectedDestination.value = null;
//   }
// });



</script>

<style scoped>
</style>





<!-- <template>
  <div>
    <div class="relative"> -->
      <!-- Dropdown toggle button -->
      <!-- <button
        @click="show = !show"
        class="flex items-center px-3 pb-3 pt-3 text-b-primary bg-secondary rounded-lg w-52"
      >
        <img src="./../../assets/images/location 1.png"/>
        <span class="ml-5 font-normal text-sm">Where are you going?</span>
    
      </button> -->

      <!-- Dropdown menu -->
      <!-- <div
        v-show="!show"
        class="
          absolute
          right-0
          py-2
          mt-2
          bg-indigo-500
          rounded-md
          shadow-xl
          w-44
        "
      >
        <router-link v-for=" data in hoteldata" :key="data.dest_id"
          to="/"
          class="
            block
            px-4
            py-2
            text-sm text-indigo-100
            hover:bg-indigo-400 hover:text-indigo-100
          "
        >
          {{data.city_name}}
        </router-link>
    
      </div>
    </div>
  </div>
</template>
<script setup>
import {ref} from 'vue'
    defineProps(['hoteldata'])
  
    const show =ref(true)

</script>
 -->












<!-- <template>

    <div class="relative flex items-center px-3 pb-3 pt-3  w-52">
      <select class="h-14  appearance-none   text-b-primary bg-secondary rounded-lg px-3 pb-3 pt-3" @change="changeJobTitle($event)">
        <option value="" selected disabled  class="text-center px-3 pb-3 pt-3 text-b-primary bg-secondary rounded-lg  pl-4 ">Where are you going?</option>
        <option v-for="data in hoteldata"  :value="data.dest_id" :key="data.dest_id">{{ data.city_name }}</option>
     </select>
     <img class="absolute  left-2" src="./../../assets/images/location 1.png"/>
    </div>
</template>

<script setup>
import { ref } from "vue"
  
defineProps(['hoteldata'])
  const selecteddata=ref('')
  defineEmits('hadnleSearchdest')
  const changeJobTitle =(event)=> {
        console.log( event.target.value)

        
    }

</script>

<style>

</style> 





 -->




