<template>
    <div class="rounded flex items-center gap-10 px-3 pb-3 pt-[11px] text-b-primary bg-secondary  w-52">
        <img :src=data.url />
        <input :placeholder="data.name" type="text" class="text-b-primary w-24 border-none outline-none bg-secondary font-normal text-sm "/>
     </div>





     <div>
        <img>
     </div>
 </template>
 
 <script setup>
    defineProps(['data'])
 </script>
 
 <style>
 
 </style>