
<template>
  <!-- <HomeView/>  -->
   <router-view></router-view>
  <!-- <header/>
  <Login/> -->
</template>

<script setup>

import HomeView from './views/HomeView.vue';
import Login from './Authentication/Login.vue';

</script>
<style>

</style>
