<template>
	<div class="flex p-5  rounded-[5px] border bg-[#FFF] border-border-bg ">
  <!-- First Column -->
  <div>
	<img :src="List.url" alt="tailwind logo" class="w-[285px] h-[200px] rounded-[5px]">
  </div>

 
  <div class="ml-6">
    <!-- Content of Second Column -->
	<h1 class="text-[#181818] font-medium text-lg">{{List.name}}</h1>
    <div class="flex gap-3 mt-[10px] mb-6">
			<!-- <p class="text-[#4F4F4F] font-normal text-sm">( Reviews)</p> -->
			<star-rating v-model:rating="List.rate" :read-only="true" :star-size="20" :round-start-rating="false"></star-rating>
			<p class="text-[#4F4F4F] font-normal text-sm">( {{ List.reviews }} Reviews)</p>
	</div>
	<divc class=" flex flex-col items-start gap-[8px]">
		<h1 class="text-[#EB5757] text-sm font-normal leading-5">Non refundable</h1>
                <p class="text-[#4F4F4F] text-sm font-normal leading-5">{{List.arrival_date}}</p>
                <p class="text-[#4F4F4F] text-sm font-normal leading-5">{{List.departure_date}}</p>
                <p class="text-[#4F4F4F] text-sm font-normal leading-5">{{List.diffday}}night stay</p>
	</divc>
  </div>

  <!-- Third Column -->
  <div class="flex flex-col items-end ml-auto mt-auto"> 
	<div class="flex flex-col gap-[6px] items-end mb-5">
		<div class=" flex items-center gap-2">
			<span class="text-[#EB5757] text-sm font-medium"><s>${{ List.strike }}</s></span>
			<span class="text-xl text-[#333] font-medium" >${{List.gross}}</span>
		</div>
		<p class="text-[#333] text-sm font-light">Includes taxes and fees</p>
	</div>
	<button @click="gotohome" class="inline-flex py-[10px] px-[18px] items-center gap-[10px] rounded-md bg-bt-primary">
		<span class="text-[#FFF] font-medium leading-5 text-[15px]">View trip details</span>
	</button>
  </div>
</div>
</template>

<script setup>

import { useDataStore } from "@/store/DataStore";
import { list } from "postcss";
import { onMounted } from "vue"
import { useRouter } from "vue-router";
import StarRating from 'vue-star-rating'

	const router=useRouter()
	const props=defineProps(['List'])
	const store=useDataStore()
	onMounted(()=>{
		console.log(props.List)

	})
	const gotohome=()=>{


	const saveData = localStorage.getItem('reservation');
   	store.paymentData=  JSON.parse(saveData) ;

		router.push({name:'HotelDetails',params:{
			id:store.paymentData.id,arrival:store.paymentData.arrival_date,
			dep:store.paymentData.departure_date,rate:store.paymentData.rate
		}})
	}
</script>	

<style>

</style>