<template>

<Header/>
<div class="bg-secondary">
    <div class="w-[1030px] mx-auto h-[1739px]">
        <h1 class="w-[820px] pt-[60px] text-[#1A1A1A] font-semibold text-[32px]">
            My trips
        </h1>
        <div class="mt-[28px] " v-for="list in store.ListOfTrip" :key="list.id">
        <Tripcard :List="list"/>
        </div>
        
    </div>
    <div class="w-[1440px] mx-auto">
        <danger/>
    </div>
        
    <contact/>
    
    <Footer/>
</div>
</template>

<script setup>
import { useDataStore } from '@/store/DataStore';
import { onMounted, ref } from 'vue';
import contact from '../contact.vue';
import danger from '../danger.vue';
import Footer from '../Footer.vue';
import Tripcard from './Tripcard.vue';
import Header from '../Header.vue';

    const  store =useDataStore()
     const List=ref()
    onMounted(()=>{

        store.loadData()
        localStorage.setItem('header','false')
        
    })


</script>

<style>

</style>